html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: black;
  width: 1280px;
  min-height: 100vh;
}

header {
  background-color: black;
  height: 360px;
}

.bar {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  color: white;
}

.bar-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  width: 70%;
}

.bar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

#news {
  opacity: 0.6;
}

.header-main {
  display: flex;
  color: white;
  height: 300px;
}

.header-side {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin: 0px 0px 5px 30px;
  font-size: 14px;
  width: 35%;
}


.header-side-list {
  display: inline;
}

#icon-share {
  margin: 0px 0px 0px 5px;
}

.header-text {
  position: relative;
  width: 65%;
}

.header-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 70px;
}

.header-box-text {
  margin: 10px 5px 10px 0px;
  padding: 5px 10px;
  border: 1px solid rgba(246, 242, 242, 0.6);
  border-radius: 25px;
}

.header-text-h1 {
  position: absolute;
  bottom: 20px;
  font-size: 55px;
  font-weight: 500;
}

main {
  background-color: white;
}

.main-section-1 {
  display: flex;
}

.main-blank {
  width: 37%;
}

.main-article {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: 63%;
}

.main-article-title {
  margin: 30px 0px;
  font-size: 20px;
  font-weight: 500;
}

.main-article-introduction {
  margin: 25px 0px;
  list-style: inside;
  text-indent: -25px;
  padding-left: 25px;
}

li {
  margin: 20px 0px;
}

.main-article-p {
  width: 80%;
}

.main-article-p-1, .main-article-p-2 {
  margin: 30px 0px;
}

.main-photos-title {
  display: flex;
  justify-content: space-between;
  margin: 50px 33px 0px 35px;
  font-size: 25px;
  font-weight: 500;
}

.main-photos-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 0px;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  background-color: black;
  color: white;
}

#download {
  margin: 0px 0px 0px 5px;
}


.main-photos {
  margin-bottom: 150px;
}

.main-photos-size {
  position: relative;
  left: 30px;
  margin: 8px 8px;
  width: 286px;
  height: 433px;
}

.main-section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background-color: rgb(245,245,245);
  height: 600px;
}

.main-readmore-title, .main-readmore-photos-text {
  font-size: 25px;
  font-weight: 500;
}

.main-readmore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 1200px;
}

.main-readmore-photos-size {
  margin: 0px 20px 20px 0px;
  width: 380px;
  height: 254px;
}

.main-readmore-phots-1, .main-readmore-phots-2, .main-readmore-phots-3 {
  display: flex;
  flex-direction: column;
}

.main-readmore-photos-release {
  margin-bottom: 20px;
  opacity: 0.5;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 280px;
}

.footer-upper {
  display: grid;
  grid-template-columns: 1.5fr 3.3fr 1fr;
  padding: 20px 0px 0px 40px;
}

.footer-list-1, .footer-list-2 {
  line-height: 0.5;
  font-weight: 300;
}

.footer-icons-size {
  margin: 20px 5px;
  padding: 3px;
  border-radius: 50%;
  background-color: rgb(45,45,45);
}

.footer-low {
  display: flex;
  justify-content: end;
  margin: 0px 30px 30px 0px;
  font-size: 13px;
  opacity: 0.5;
}

.footer-low-span {
  margin: 0px 10px;
}